/build
/app/src/main/res/mipmap-anydpi/
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/mipmap-xxhdpi/
/app/src/main/res/mipmap-xxxhdpi/